{% extends "base.html" %}

{% block content %}
    <div class="home">

        <header class="post-header">
            <h1 class="post-title">{{ config.title }}</h1>
        </header>

        <h1 class="page-heading">Posts</h1>

        {{ section.content | safe }}

        {%- if section.pages | length > 0 -%}
            <ul class="post-list">
                {%- set date_format = "%b %-d, %Y" -%}
                {%- for page in section.pages -%}
                    <li>
                        <span class="post-meta">{{ page.date | date(format=date_format) }}</span>

                        <h2>
                            <a class="post-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        </h2>
                    </li>
                {% endfor %}
            </ul>
        {%- endif -%}

        {%- if config.generate_feed -%}
            <p class="rss-subscribe">subscribe <a href="/{{ config.feed_filename }}">via RSS</a></p>
        {%- endif -%}

    </div>
{% endblock content %}
