{% macro social_link(social, site) %}
    {% if site == 'twitter' %}
        {% set icon = "icon icon--twitter fa fa-twitter" %}
    {% elif site == 'linkedin' %}
        {% set icon = "icon fa fa-linkedin" %}
    {% elif site == 'github' %}
        {% set icon = "icon icon--github fa fa-github" %}
    {% elif site == 'instagram' %}
        {% set icon = "icon fa fa-instagram" %}
    {% endif %}

    <a href="{{ social.url }}{{ social.username }}">
        <i class="{{ icon }}"></i>
        <span class="username">
            {{ social.username }}
        </span>
    </a>
{% endmacro social_link %}

{% macro date_range(start, end) %}

    {% if start == "present" %}
        {% set start_formatted = start %}
    {% else %}
        {% set start_formatted = start | date(format="%b %m, %Y") %}
    {% endif %}

    {% if end == "present" %}
        {% set end_formatted = end %}
    {% else %}
        {% set end_formatted = end | date(format="%b %m, %Y") %}
    {% endif %}

    {{ start_formatted }} - {{ end_formatted }}

{% endmacro date_range %}
