{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <article class="post">
        <div class="post-content">
            {% set author = load_data(path="data/author.toml") %}
            <header class="post-header">
                <h1 class="post-title">{{ author.name }}</h1>
                <h2>{{ author.description }}</h2>
            </header>
            <p>
                {{ author.location.address }} | {{ author.location.city }}, {{ author.location.postal_code }}
                <br />
                {{ author.phone }} | <a href="mailto:{{ author.email }}">{{ author.email }}</a>
                <br />
                [<a href="#">pdf</a>]
            </p>

            <h3>Education</h3>
            {% for education in author.educations %}
                <h4><a href="{{ education.website }}">{{ education.institution }}</a></h4>
                <p>
                    <strong>{{ education.degree }}</strong>
                    <br />
                    {{ macros::date_range(start=education.start_date, end=education.end_date) }}
                </p>
                <dl>
                    <dt>Major</dt>
                    <dd>{{ education.major }}</dd>
                    <dt>Minor</dt>
                    <dd>{{ education.minor }}</dd>
                    <dt>GPA</dt>
                    <dd>{{ education.gpa }}</dd>
                    <dt>Honors</dt>
                    <dd>{{ education.achievements | join(sep=", ") }}</dd>
                </dl>
            {% endfor %}

            <h3>Skills</h3>
            {% for category, skill in author.skills | group_by(attribute="category") %}
                <dl>
                    <dt>{{ category }}</dt>
                    <dd>{{ skill | map(attribute="name") | join(sep=", ") }}</dd>
                </dl>
            {% endfor %}

            <h3>Exprience</h3>
            {% for experience in author.experiences %}
                <h4><strong>{{ experience.position }}</strong></h4>
                <p>
                    <strong><a href="{{ experience.website }}">{{ experience.company }}</a></strong>
                    <br />
                    {{ macros::date_range(start=experience.start_date, end=experience.end_date) }}
                    <ul>
                        {% for highlight in experience.highlights %}
                            <li>
                                <p>
                                    {{ highlight }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </div>

    </article>
{% endblock content %}
