{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <article class="post">
        <div class="post-content">
            {% set author = load_data(path="data/author.toml") %}
            <header class="post-header">
                <h1 class="post-title">{{ author.name }}</h1>
                <h2>{{ author.description }}</h2>
            </header>
            <p>
                {{ author.location.address }} | {{ author.location.city }}, {{ author.location.postal_code }}
                <br />
                <a href="tel:{{ author.phone | replace(from="-", to="") | replace(from="(", to="") | replace(from=")", to="") }}">{{ author.phone }}</a> | <a href="mailto:{{ author.email }}">{{ author.email }}</a>
                <br />
                [ <a href="resume.pdf">pdf</a> ]
            </p>

            <h3>Education</h3>
            {% for education in author.educations | filter(attribute="current", value=true) | sort(attribute="start_date") | reverse %}
                <h4><a href="{{ education.website }}">{{ education.institution }}</a></h4>
                <p>
                    <strong>{{ education.degree }}</strong> in <strong>{{ education.major }}</strong>, <i>{{ education.latin_honors }}</i>
                    <br />
                    {{ macros::date_range(range=education) }}
                </p>
                <dl>
                    <dt>Minor</dt>
                    <dd>{{ education.minor }}</dd>
                    <dt>GPA</dt>
                    <dd><i>Major:</i> {{ education.gpa.major }} <i>Overall:</i> {{ education.gpa.overall }}</dd>
                    <dt>Honors</dt>
                    <dd>{{ education.achievements | join(sep=", ") }}</dd>
                </dl>
            {% endfor %}
            {% for education in author.educations | filter(attribute="current", value=false) | sort(attribute="end_date") | reverse %}
                <h4><a href="{{ education.website }}">{{ education.institution }}</a></h4>
                <p>
                    <strong>{{ education.degree }}</strong> in <strong>{{ education.major }}</strong>, <i>{{ education.latin_honors }}</i>
                    <br />
                    {{ macros::date_range(range=education) }}
                </p>
                <dl>
                    <dt>Minor</dt>
                    <dd>{{ education.minor }}</dd>
                    <dt>GPA</dt>
                    <dd><i>Major:</i> {{ education.gpa.major }} <i>Overall:</i> {{ education.gpa.overall }}</dd>
                    <dt>Honors</dt>
                    <dd>{{ education.achievements | join(sep=", ") }}</dd>
                </dl>
            {% endfor %}

            <h3>Skills</h3>
            {% for category, skill in author.skills | group_by(attribute="category") %}
                <dl>
                    <dt>{{ category }}</dt>
                    <dd>{{ skill | map(attribute="name") | join(sep=", ") }}</dd>
                </dl>
            {% endfor %}

            <h3>Experience</h3>
            {% for experience in author.experiences | filter(attribute="current", value=true) | sort(attribute="start_date") | reverse %}
                <h4><strong>{{ experience.position }}</strong> ({{ experience.department }})</h4>
                <p>
                    <strong><a href="{{ experience.website }}">{{ experience.company.name }}</a></strong>
                    <br />
                    {{ macros::date_range(range=experience) }}
                    <ul>
                        {% for highlight in experience.highlights %}
                            <li>
                                <p>
                                    {{ highlight }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
            {% for experience in author.experiences | filter(attribute="current", value=false) | sort(attribute="end_date") | reverse %}
                <h4><strong>{{ experience.position }}</strong> ({{ experience.department }})</h4>
                <p>
                    <strong><a href="{{ experience.website }}">{{ experience.company.name }}</a></strong>
                    <br />
                    {{ macros::date_range(range=experience) }}
                    <ul>
                        {% for highlight in experience.highlights %}
                            <li>
                                <p>
                                    {{ highlight }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </div>

    </article>
{% endblock content %}
